body{
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
}

#nav-one{

	padding: 20px;
	height: 70px;
	background-color: #501c1c;
}

#nav-one li {

	list-style: none;
	display: flex; 
}

#nav-one img{

	width: 10%;
	height: 100px;
}

#nav-one.volunteer{
	
	float:right;
	vertical-align:top;
}

#nav-one a{

	text-decoration: none;
	color: #fff;
	padding-left: 10px;
	float: right;
}

#nav-two{

	height: 70px;
	background-color:#d4a823;
	margin-top: 0;	
}

#nav-links{

	padding-left: 150px;
}

#nav-links li {

	list-style: none;
	padding: 20px;
	display: inline-block;
}

#nav-links a{

	text-decoration: none;
	color: #000;
}

#nav-two input{

	border-radius: 5px;
	text-align: center;
	font: 18px bold;
	background-color: #d4a823;
	border-color: #000;
}

li #search-box{

	padding-left: 210px;
}

#content{

	height: 500px;
	background-image: url("imgs/ww.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#content-one{

	padding: 50px;
}

.help{

	font-size: 20px;
	color: #fff;
}

#content-one span{

	font-size: 20px;
	color: silver;
	padding: 0;
}

.bridge{

	font-size: 15px;
	color: silver;
}

button {

	font-size: 20px;
	color: #000;
	background-color: transparent;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	border-color: black;
	text-decoration: none;
}

#sub-content{
	text-align: center;
	font: 20px Tahoma;
}

.news a{

	text-decoration: underline;
	color: #000;
	font-weight: bolder;
	text-decoration-color:#e4b21c;
}


.main-card{

	width: 100%;
	padding: 20px 0 50px 15px;

}

.card{
			
			width: 33.3%;
			float: left;
			border:3px;
			box-shadow: 0 2px 5px rgba(10,10,10,0.15); 
			/*border:solid 1px rgba(10,10,10,0.15);*/

		}


.hoverable:hover{

	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
	 0 3px 14px 2px rgba(0, 0, 0, 0.12), 
	 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.art-content{

	padding: 10px;
	padding-left: 20px;
}

.card-title{

	font-size: 18px;
	margin: 0px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.read-more{

	padding: 24px;
	border-top: solid 1px rgba(10,10,10,0.15);
}

.read-more button{

	margin: 0px;
}

.read-more a{

	display: block;
	color: #d4a823;
	text-decoration: none;
	font-size: 15px;
}

.center{

	text-align: center;
}

.contact-us{

	padding: 15px 30px 5px 280px;
	width: 50%;
}

.contact{

	width: 100%;
	padding-top: 20px;
}

.contact p{

	text-align: center;
	text-transform: uppercase;
	padding-top: 250px;
}

label{

	font-size: 12px;
	color: rgba(10,10,10,0.5);
}

.input-field{

	padding: 8px 0;
	position: relative;
}

.contact-input,textarea{

	width: 100%;
	line-height: 24px;
	padding: 5px;
	border:none;
	border-bottom: solid 1px rgba(10,10,10,0.35);
	outline: none;
	transition:ease all 0.5s;
}

input:focus,textarea:focus{

	border-bottom: 1px solid #00897b;
}

#input-submit{

	text-align: center;
}

.submit{

	text-align: center;
	background-color: #501c1c;
	width: auto;
	min-width: 30%;
	color: #fff;
	border-radius: 5px;
	padding: 8px 14px;
}


.main-footer{

	padding: 0 24px;
	display: flex;
}

div.icy{

	margin: auto;
	padding-bottom: 20px; 
}

.icy p{

	font-size: 20px;
}

.icy p a{

	text-decoration: none;
	color: #004385;
	font-size: 20px;
}

footer .text-center{

	text-align: center;
}

footer{

	background-color: #d0cebc;
	height: 100px;
}

footer img{

	margin: 0 auto;
	padding: 10px 16px;
	width: 30px;
}